@using AskAMech.Helpers
@using Newtonsoft.Json
@{
    var alerts =  TempData.ContainsKey(Alert.TempDataKey)
        ? JsonConvert.DeserializeObject<List<Alert>>(TempData[Alert.TempDataKey] as string)
        : new List<Alert>();

    if (alerts.Any())
    {
        <hr />
    }

    foreach (var alert in alerts)
    {
        var dismissalClass = alert.Dismissible ? "alert-dismissible" : null;
        <div class="alert alert-@alert.AlertStyle @dismissalClass">
            @if (alert.Dismissible)
            {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            }
            @Html.Raw(alert.Message)
        </div>
    }
}