@model AskAMech.Domain.Models.Question

@{
    ViewData["Title"] = "Add";
}

<form asp-action="Add">
    <div>
        <h4>Create new Question</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <small>Be specific and imagine you’re asking a question to another person</small>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <small>Include all of the details that someone needs to answer your question</small>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" onclick="this.form.submit(); this.disabled=true; this.value='Sending…';" />
                        <a class="btn btn-secondary" href="@Url.Action("Index", "Questions")">
                            <i class="fa fa-angle-left"></i>
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
