@model IEnumerable<AskAMech.Domain.Models.Answer>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">

    @foreach (var item in Model)
    {
        <li>
            <a asp-controller="Answers"
               asp-action="Index"
               asp-route-id="@item.QuestionId">
                @item.Description
                @item.Date
            </a>
        </li>
    }

</table>